@import "../base/variables";
@import "../base/mixins";

.btn {
  height: 46px;

  border: 0;
  border-radius: 30px;

  padding: 0 24px;

  @extend %font;
  font-size: 18px;

  background-color: $light-gray;

  cursor: pointer;
  outline: none;

  transition: all 200ms linear;

  &:hover {
    background-color: $gray;
  }

  &.active {
    color: $white;
    background-color: $black;
  }

  // BTN ADD

  &.add {
    border: 1px solid $purple;
    padding: 0 12px;

    color: $purple;
    background-color: $white;

    &:hover {
      color: $white;
      background-color: $purple;
      .icon_plus {
        .vertical_line,
        .horizontal_line {
          background-color: $white;
        }
      }

      .counter_block {
        background-color: $white;
        color: $purple;
      }
    }

    .icon_plus {
      width: 10px;
      height: 10px;

      display: inline-flex;
      justify-content: center;
      align-items: center;

      margin-right: 8px;

      .vertical_line,
      .horizontal_line {
        position: absolute;
        width: 2px;
        height: 12px;

        border-radius: 5px;
        background-color: $purple;
        transition: all 200ms linear;
      }
      .horizontal_line {
        width: 12px;
        height: 2px;
      }
    }

    .counter_block {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      width: 22px;
      height: 22px;

      border-radius: 100%;
      background-color: $purple;

      color: $white;
      font-size: 14px;

      margin-left: 6px;

      transition: all 200ms linear;
    }
  }
}

@media (max-width: 480px) {
  .btn {
    height: 42px;
    padding: 0 18px;
    font-size: 16px;
  }
}
