@import "../../base/variables";
@import "../../base/mixins";

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;

  width: 100%;
  height: 140px;
  padding: 30px 0;

  border-top: 1px solid $light-gray;

  .info {
    display: inline-flex;
    align-items: center;

    width: 50%;
    height: 100%;

    img {
      width: 80px;
      height: 80px;

      margin-right: 15px;
    }

    h1 {
      font-size: 22px;

      margin-bottom: 4px;
    }

    h6 {
      font-weight: 400;
      font-size: 18px;
      color: #8d8d8d;
    }
  }

  .settings {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;
    height: 100%;

    font-size: 22px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 32px;
      height: 32px;

      border: 2px solid $purple;
      border-radius: 100%;
      background-color: transparent;

      color: $purple;
      outline: none;
      cursor: pointer;
    }

    .counter {
      width: 100px;

      display: inline-flex;
      justify-content: space-between;
      align-items: center;

      .minus,
      .plus {
        background-size: 10px;
        transition: all 200ms linear;
      }

      .minus {
        background: url("../../../assets/svg/minus.svg") no-repeat center;

        &:hover {
          background: $purple url("../../../assets/svg/minusWhite.svg") no-repeat center;
        }
      }

      .plus {
        background: url("../../../assets/svg/plus.svg") no-repeat center;

        &:hover {
          background: $purple url("../../../assets/svg/plusWhite.svg") no-repeat center;
        }
      }
    }

    .price {
      display: inline-block;
      min-width: 60px;
    }

    .remove {
      transition: all 200ms linear;
      border: 2px solid #d7d7d7;

      background: url("../../../assets/svg/cross.svg") no-repeat center;

      &:hover {
        background: url("../../../assets/svg/crossGray.svg") no-repeat center;
        border: 2px solid #505050;
      }
    }
  }
}

@media (max-width: 480px) {
  .product {
    height: auto;

    .info {
      img {
        width: 70px;
        height: 70px;

        margin-right: 5px;
      }

      h1 {
        font-size: 20px;
      }

      h6 {
        font-size: 16px;
      }
    }

    .settings {
      font-size: 18px;
      width: 45%;

      button {
        width: 26px;
        height: 26px;
      }

      .counter {
        width: 32px;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        span {
          width: 32px;
          padding: 5px 0;
        }
      }
    }
  }
}
